
* {
    box-sizing: border-box;
}

#modal-dimMainPage{
  /* dim when modal window enabled */
  display: none;  /* hidden initially */
  left 0;
  top: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: 100%;
  width: 100%;*
  margin: auto;
  padding: 0;
  background-color: rgba(192, 192, 192, .5);
}
#closeModalWindow{  /* styling the modal window close button */
  position: absolute;
  top: 5px;
  right: 5px;
  color: #424242bd;
  font-size: 25px;
  font-weight:100;
  transition: 0.3s;
  border-style: none;
}

#modal-userBox{  /* the modal window itself*/
  display: none;  /* hidden initially */
  margin: 10% 35% 10% 35%; /* places content in roughly center of window */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px;  Location of the box */
  left: 0;
  top: 0;
  width: 260px; /*  width */
  height: 300px; /* height */
  overflow: auto; /* Enable scroll if needed */
  border-radius: 2%;
  /* background-color: rgb(255, 255, 255); Fallback color */
  background-color: rgba(255, 255, 255,1); /* White, Solid */
}

/* basic class for styling detail info with-in modal window */
[class*="modal"]{
    font-size: .8em;
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: grey;
    list-style-type: none;
    padding: 0;
    height: 20px;
}
.modal-basic-ul{
  height: 160px;
  padding: 10px 0;
}
  .modal-basic-img {
      margin: 15px auto;
      display: block;
      width: 40%;
      max-width: 400px;
      padding: 40px 10px 40px 10px;
      border-radius: 100%;
      background-color: grey;
  }
  .modal-basic-name{
    color: #000; /* black */
    font-size: 1em;
    font-weight: bold;
    font-style: oblique;

  }
  .modal-basic-email{}
  .modal-basic-location{}

.modal-border-ul{
  height: 20px;
}
  .modal-basic-border{ /* a ul/li sets in between basic and contact info */
    border-bottom:1px solid silver;
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
    list-style-type: none;
  }
.modal-contact-ul{
  height: 70px;
}
[class*="modal-contact"]{
    /*font-size: .8em;
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: grey;
    height: 15px;
    list-style-type: none;*/
}
  .modal-contact-full-address{}
  .modal-contact-cellnumber{}
  .modal-contact-dob{}

@media screen and (max-width: 860px){}
@media screen and (max-width: 700px){}
@media screen and (max-width: 480px){}
