
* {
    box-sizing: border-box;
}
/* basic class for styling detail info with-in modal window */
[class*="modal"]{
    display: block;
    margin:auto;
    padding: 0;
    font-size: .8em;
    color: grey;
    text-align: center;
    align-content: center;
    list-style-type: none;
}
/* the modal window itself*/
#modal-userBox{
  display: none;
  margin: 10%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width:300px;
  height:400px;
  overflow: auto;
  border-radius: 2%;
  background-color: rgba(255, 255, 255,1);
}

  /* dim the main directory when modal window is displayed */
#modal-dimMainPage{
  display: none;  /* hidden initially */
  left 0;
  top: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;*
  margin: auto;
  padding: 0;
  background-color: rgba(192, 192, 192, .5);
}
/* styling the modal window close button */
#closeModalWindow{
  position: absolute;
  top: 1.5%;
  right: 44%;
  color: #424242bd;
  font-size: 15px;
  font-weight:100;
  transition: 0.3s;
  border-style: none;
  border-radius: 5%;
}
/* styling the modal window prev button */
#prevModalWindow{
  position: absolute;
  top: 1.5%;
  right:76%;
  color: #424242bd;
  font-size: 15px;
  font-weight:100;
  transition: 0.3s;
  border-style: none;
  border-radius: 5%;
}
/* styling the modal window next button */
#nextModalWindow{
  position: absolute;
  top: 1.5%;
  right:6%;
  color: #424242bd;
  font-size: 15px;
  font-weight:100;
  transition: 0.3s;
  border-style: none;
  border-radius: 5%;
}
/* styling for element inside modal windows */
.capitalize{
  text-transform: capitalize;
}
.modal-basic-ul{
  height: 160px;
  margin:5%;
  padding: 10px 0;
}
.modal-border-ul-top{
  top: 8px;
  height: 7%;
  margin-top: 10%;
}
  .modal-basic-border-top{
    border-bottom:1px solid silver;
    width: 75%;
    margin: auto;
    padding-bottom: 20px;
    list-style-type: none;
  }
  .modal-basic-img {
      margin: auto;
      display: block;
      width: 40%;
      height: 40%;
      max-width: 400px;
      border-radius: 100%;
      background-color: grey;
  }
  .modal-basic-name{
    color: #000; /* black */
    font-size: 1em;
    font-weight: bold;
    font-style: oblique;
    text-transform: capitalize;
    margin-top: 5%;

  }
  .modal-basic-email{}
  .modal-basic-location{
    text-transform: capitalize;
  }

.modal-border-ul{
  margin: auto;
  height: 20px;
}
  .modal-basic-border{
    border-bottom:1px solid silver;
    width: 75%;
    margin: auto;
    padding-bottom: 17px;
    list-style-type: none;
  }
.modal-contact-ul{
  height: 70px;
  margin-top: 5%;
}
[class*="modal-contact"]{
    /*  saving these setting just in case of changes or updated that may be done in the future
    font-size: .8em;
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: grey;
    height: 15px;
    list-style-type: none;*/
}
  .modal-contact-address{
    text-transform: capitalize;
    width: 80%;
    margin: 5px auto;
  }
  .modal-contact-cellnumber{}
  .modal-contact-dob{}

/* modal window is designed mobile first */
/* the following settings are for full desktop/laptop screens */
@media only screen and (min-width: 620px){
  #modal-userBox{
    margin:10% 34%;
  }
  #prevModalWindow{
    right:80%;
  }
  #nextModalWindow{
    right:10%;
  }
}
