
* {
    box-sizing: border-box;
}
body{
  display: block;
  margin: auto;
  background-color: black;
  align-content: center;
  margin: auto
  padding: 1%;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.row {
  width: 95%;
  margin: auto;
  padding-left: 15px;
  background-color: white;
  align-content: center;
}
.row::before{
  margin: 1%;
  content: "";
  clear: both;
  display: table;
  background-color: black;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    margin: 4%;
}
[class*="col-"] {
    float: left;
    margin: 4px;
    padding: auto;
    border: 1px solid white;
    align-content: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 10%;}
.col-3 {width: 25%;}
.col-4 {width: 32%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.directoryTitle{
  font-style: normal;
  font-size: 1.6em;
  color:grey;
  font-weight:400;
}
.userBox{
    color: silver;
    border: 1px solid #eaeaea;
    border-radius: 2%;
    background-color: white;
    align-content: center;

  }

.userBox ul{
  list-style-type: none;
  text-align: left;
  margin: 15px 1px 10px 1px;
  padding: 5px 1px 5px 1px;
}
.userBox ul li{
  font-size: .8em;
  color: silver;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}
.location{
  text-transform: capitalize;
}
.avatarImg{
  display:block;
  width: 30%;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  float: left;
  margin: 5px 10px 5px 5px;
}

.userBox .fnamelname {
  color: black;
  font-size: 1em;
  font-style: oblique;
  font-weight: bold;
  text-transform: capitalize;
}

.userBox .email, .userBox .location{
  font-size: .8em;
}

@media screen and (max-width: 860px){
  .col-4 {width: 40%;}
  .userBox{
    font-size: .8em;
  }
  .directoryTitle{
    font-size: 1.4em;
  }
  .userBox ul{
    list-style-type: none;
    text-align: left;
    margin: 15px 0;
    padding: auto;
    height: 100px;
  }
  .userBox ul li{
    margin: auto;
    padding: auto;
  }
  .avatarImg{
    width: 40%;
    max-height: 100px;
  }
  .fnamelname{
    font-size: 1em;
  }
}
@media screen and (max-width: 700px){
  .col-4 {
    width: 45%;
  }
  .directoryTitle{
    font-size: 1.2em;
  }
  .userBox{
    font-size: 1em;
    height: 250px;
  }
  .userBox ul{
    list-style-type: none;
    text-align: center;
    align-content: center;
    padding-top: 15px;

  }
  .userBox ul li{
    display: block;
    width: 100%;
    margin: auto;
  }
  .avatarImg{
    width: 80%;
    margin: 15px 15px 5px 30px;
    max-height: 140px;
  }
  .fnamelname{
    font-size: 1.2em;
  }
}
@media screen and (max-width: 480px){
  .col-4 {
    width: 70%;
  }
  .directoryTitle{
    font-size: 1em;
    font-weight: 200;
  }
  .userBox{
    font-size: 1em;
    height: 250px;
  }
  .userBox ul{
    list-style-type: none;
    text-align: center;
    align-content: center;
    padding-top: 15px;

  }
  .userBox ul li{
    display: block;
    width: 100%;
    margin: auto;
  }
  .avatarImg{
    width: 80%;
    margin: 15px 15px 5px 30px;
    max-height: 140px;
  }
  .fnamelname{
    font-size: 1.2em;
  }
}
