
* {
    box-sizing: border-box;
}
body{
  display: block;
  margin: auto;
  background-color: black;
  align-content: center;
  margin: auto;
}
.header{
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 1% 1% 1% 4%;
  margin-top: 1%;
}

.header h2{
  font-style: normal;
  font-size: 1.6em;
  color:grey;
  font-weight:400;
}

button{
  margin-right: 2%;
  border-radius: 5%;
}

button:focus{outline:none;}

button:hover {
  outline:none;
  box-shadow:5px 5px black;
  background-color:grey;
  border-color:black;
  border-radius: 10%;
}

button:active{
  outline:none;
  transform: translateY(1px);
  box-shadow:1px 1px black;
  background-color:grey;
  border-color:black;
  border-radius: 10%;
}

.header input {
  margin-left: 40%;
  border-radius: 5%;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
}
.header input:focus{outline:none;}

.header input:active,input:hover  {
  outline:none;
  background-color: grey;
  color: white;
  border-radius: 5%;
  border-color: black;
}
.header input:active::placeholder,input:hover::placeholder{
  color: white;
}
.row {
  width: 95%;
  margin: auto;
  padding-left: 15px;
  background-color: white;
  align-content: center;
}
.row::before{
  content: "";
  clear: both;
  display: table;
  background-color: white;
}

.userBox:hover {
  box-shadow:5px 5px black;
  background-color:grey;
  border-color:black;
}

.userBox:active{
  transform: translateY(1px);
  box-shadow:1px 1px black;
  background-color:grey;
  border-color:black;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    margin: 4%;
}
[class*="col-"] {
    float: left;
    margin: 4px;
    padding: auto;
    border: 1px solid white;
    align-content: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 10%;}
.col-3 {width: 25%;}
.col-4 {width: 32%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.userBox{
    color: silver;
    border: 1px solid #eaeaea;
    border-radius: 2%;
    background-color: white;
    align-content: center;
  }

.userBox ul{
  list-style-type: none;
  text-align: left;
  margin: 15px 1px 10px 1px;
  padding: 5px 1px 5px 1px;
}
.userBox ul li{
  font-size: .8em;
  color: silver;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}
.location{
  text-transform: capitalize;
}
.avatarImg{
  display:block;
  width: 30%;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  float: left;
  margin: 5px 10px 5px 5px;
}

.userBox .fnamelname {
  color: black;
  font-size: 1em;
  font-style: oblique;
  font-weight: bold;
  text-transform: capitalize;
}

.userBox .email, .userBox .location{
  font-size: .8em;
}

@media screen and (max-width: 960px){
  .col-4 {width: 40%;}
  .userBox{
    font-size: .8em;
  }
  .directoryTitle{
    font-size: 1.4em;
  }
  .userBox ul{
    list-style-type: none;
    text-align: left;
    margin: 15px 0;
    padding: auto;
    height: 100px;
  }
  .userBox ul li{
    margin: auto;
    padding: auto;
  }
  .avatarImg{
    width: 40%;
    max-height: 100px;
  }
  .fnamelname{
    font-size: 1em;
  }
}
@media screen and (max-width: 700px){
  .col-4 {
    width: 45%;
  }
  .directoryTitle{
    font-size: 1.2em;
  }
  .userBox{
    font-size: 1em;
    height: 250px;
  }
  .userBox ul{
    list-style-type: none;
    text-align: center;
    align-content: center;
    padding-top: 15px;

  }
  .userBox ul li{
    display: block;
    width: 100%;
    margin: auto;
  }
  .avatarImg{
    width: 80%;
    margin: 15px 15px 5px 30px;
    max-height: 140px;
  }
  .fnamelname{
    font-size: 1.2em;
  }
}
@media screen and (max-width: 480px){
  .col-4 {
    width: 80%;
  }
  .directoryTitle{
    font-size: 1em;
    font-weight: 200;
  }
  .userBox{
    font-size: 1em;
    height: 250px;
  }
  .userBox ul{
    list-style-type: none;
    text-align: center;
    align-content: center;
    padding-top: 15px;

  }
  .userBox ul li{
    display: block;
    width: 100%;
    margin: auto;
  }
  .avatarImg{
    width: 80%;
    margin: 15px 15px 5px 30px;
    max-height: 140px;
  }
  .fnamelname{
    font-size: 1.2em;
  }
}
