
* {
    box-sizing: border-box;
}
body{
  display: block;
  margin: auto;
  background-color: black;
  align-content: center;
  margin: auto;
}

/* grid formatting of row and columns */

.row {
  width: 95%;
  margin: auto;
  background-color: white;
  align-content: center;
}
.row::before {
  content: "";
  clear: both;
  display: table;
  background-color: white;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    margin: 4%;
}
[class*="col-"] {
    float: left;
    margin-left: 4px;
    padding: auto;
    border: 1px solid white;
    align-content: center;
}
.col-1 {width: 8.33%;}
.col-2 {width: 10%;}
.col-3 {width: 25%;}
.col-4 {width: 32%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* grid formatting for header row and columns */

#rowHeader::after{
  margin-bottom: 0;
}
#rowHeader-col0{
  background-color: white;
  margin: auto;
  padding: 1% 1% 1% 4%;
}

#rowHeader-col1{
  width: 45%;
}

#rowHeader-col0 h2{
  font-style: normal;
  font-size: 1.2em;
  color:grey;
  font-weight:400;
}

button{
  margin-right: 2%;
  border-radius: 5%;
}

button:focus{outline:none;}

button:hover {
  outline:none;
  box-shadow:5px 5px black;
  background-color:grey;
  border: .8px solid black;
  border-radius: 10%;
}

button:active{
  outline:none;
  transform: translateY(1px);
  box-shadow:1px 1px black;
  background-color:grey;
  border: .8px solid black;
  border-radius: 10%;
}

#rowHeader-col1 input {
  margin-top: 6%;
  margin-left: 55%;
  border-radius: 5%;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
}
#rowHeader-col1 input:focus{outline:none;}

#rowHeader-col1 input:active,input:hover  {
  outline:none;
  background-color: grey;
  color: white;
  border-radius: 5%;
  border-color: black;
}

#rowHeader-col1 input:active::placeholder,input:hover::placeholder{
  color: white;
}
#rowHeader-col1 button{
}

/* formatting for each user, or employee, div in directory */
.userBox:hover {
  box-shadow:5px 5px black;
  background-color:grey;
  border-color:black;
}

.userBox:active{
  transform: translateY(1px);
  box-shadow:1px 1px black;
  background-color:grey;
  border-color:black;
}
.userBox{
    color: silver;
    border: 1px solid #eaeaea;
    border-radius: 2%;
    background-color: white;
    align-content: center;
  }

.userBox ul{
  list-style-type: none;
  text-align: left;
  margin: 15px 1px 10px 1px;
  padding: 5px 1px 5px 1px;
}
.userBox ul li{
  font-size: .8em;
  color: silver;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}
.location{
  text-transform: capitalize;
}
.avatarImg{
  display:block;
  width: 30%;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  float: left;
  margin: 5px 10px 5px 5px;
}

.userBox .fnamelname {
  color: black;
  font-size: 1em;
  font-style: oblique;
  font-weight: bold;
  text-transform: capitalize;
}

.userBox .email, .userBox .location{
  font-size: .8em;
}

/* adjustments for different screen resolutions and sizes */
@media screen and (max-width: 1100px){
  #rowHeader-col1 {
  }
  #rowHeader-col1 h2{
    font-size: 1em;
  }
  #rowHeader-col1 input {
    margin-left: 40%;
  }
  #rowHeader-col0 h2{
     font-size: 1em;
  }
  /* .avatarImg{
    width: 80%;
    margin: 15px 15px 5px 30px;
    max-height: 140px;
  } */
}
@media screen and (max-width: 1000px){
  .row {
    padding-left: 5%;
  }
  .col-4{width: 30%;}
  .col-6 {width: 40%;}
  #rowHeader-col0 h2{
     font-size: 1em;
  }
  #rowHeader-col1 input {
    margin-left: 40%;
  }
  .userBox{
    font-size: .8em;
  }
  .userBox ul{
    list-style-type: none;
    text-align: left;
    margin: 5px 0;
    padding: auto;
    height: 100px;
  }
  .userBox ul li{
    margin: auto;
    padding: auto;
  }
  .avatarImg{
    width: 30%;
    margin: 5px 5px 5px 5px;
    max-height: 140px;
  }
  .fnamelname{
    font-size: 1em;
  }
}
@media screen and (max-width: 850px){
  .row {
    padding-left: 0;
  }
  #rowHeader-col0{
    width: 50%;
  }
  #rowHeader-col1{
    width: 40%;
  }
  .col-4 {
    width: 30%;
  }
#rowHeader-col0{
  margin-top: 0;
  }
#rowHeader-col0 h2{
   font-size: 1em;
  }
 #rowHeader-col1 input {
  margin-left: 20%;
  margin-top: 7%
 }
 #rowHeader-col1 button{
  margin-right: 0;
 }
  .userBox{
    font-size: 1em;
    height: 250px;
  }
  .userBox ul{
    list-style-type: none;
    text-align: center;
    align-content: center;
    padding-top: 15px;

  }
  .userBox ul li{
    display: block;
    width: 100%;
    margin: auto;
  }
  .avatarImg{
    width: 80%;
    margin: 15px 15px 5px 30px;
    max-height: 140px;
  }
  .fnamelname{
    font-size: 1.2em;
  }
}
@media screen and (max-width: 680px){
  #rowHeader{
    margin:0 1% 0 2.5%;
  }
  #rowHeader-col0{
    margin-left: 4%;
    padding: 1% 1% 1% 1%;
    width: 45%;
  }
  #rowHeader-col1{
    width: 35%;
  }
  .col-4 {
    margin-left: 4%;
    width: 40%;
  }
  #rowHeader-col0 h2{
    font-size: 1em;
    font-weight: 200;
  }
   #rowHeader-col1 input {
     margin: 0 0 10% 2%;
   }
   #rowHeader-col1 button{
     margin-top: 10%;
   }
  .userBox{
    font-size: 1em;
    height: 250px;
  }
  .userBox ul{
    list-style-type: none;
    text-align: center;
    align-content: center;
    padding-top: 15px;

  }
  .userBox ul li{
    display: block;
    width: 100%;
    margin: auto;
  }
  .avatarImg{
    width: 80%;
    margin: 15px 15px 5px 30px;
    max-height: 140px;
  }
  .fnamelname{
    font-size: 1.2em;
  }
}
